.header,
.hero,
.footer {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #E5E7Eb;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button,
.call-to-action {
    background-color: #3882F6;
}

.information-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7Eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 24px;
}

.hero {
    display: flex;
    justify-content: space-around;
    padding: 64px;
}