.header,
.hero,
.footer {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #E5E7Eb;
}